@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	font-family: Poppins;
}

header {
	display: flex;
	justify-content: space-between;
	flex-grow: 0.9;
	align-items: flex-start;
}

header .sitemap {
	flex-grow: 1;
}

.sitemap,
.buttons {
	padding-top: 10px;
}

.sitemap {
	padding-top: 30px;
}

.sitemap li a {
	font-weight: 500;
}

.search {
	display: flex;
	gap: 20px;
}

.search-container {
	padding-top: 20px;
	gap: 15px;
	display: flex;
}

.container {
	display: flex;
	gap: 40px;
	padding-top: 20px;
}

.buttons {
	display: flex;
	gap: 40px;
	padding-right: 80px;
}

.buttons .log-in:hover {
	background-color: white;
	color: black;
	border: 1px solid #0126b3;
	cursor: pointer;
}

.buttons .sign-up:hover {
	background-color: #0126b3;
	color: white;
	cursor: pointer;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-top: 15px;
	padding-left: 20px;
}

.log-in {
	font-size: 16px;
	font-weight: 500;
	font-family: Poppins;
	padding: 0px 40px;
	border-radius: 20px;
	color: #ffffff;
	background-color: #0126b3;
	border-style: none;
}

.sign-up {
	font-size: 16px;
	font-weight: 500;
	font-family: Poppins;
	padding: 0px 30px;
	border-radius: 20px;
	color: black;
	background-color: #ffffff;
	border-style: none;
	border: 1px solid #0126b3;
}

.logo > p {
	font-size: 12px;
}

ul {
	list-style: none;
	display: flex;
	padding: 10px;
	justify-content: center;
	gap: 40px;
}

li a {
	text-decoration: none;
	color: black;
}

li a:hover {
	color: #0126b3;
}

li a:active {
	color: #0126b3;
}


/* 
#search { 
	text-align: left;
	padding-top: 10px 20px;
	border-radius: 20px;
} 

*/
 
.search-container input[type="search"] {
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 16px;
  }


#search::placeholder {
	padding-bottom: 20px;
}

.fa-magnifying-glass {
	width: 32px;
	padding: 10px;
}

.main {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	align-items: center;
	margin-top: 40px;
}

.details {
	max-width: 40%;
	padding-left: 40px;
}

.photo {
	flex-grow: 0.4;
	transition: 0.3s ease-in-out;
}

.photo:hover {
	transform: scale(1.3);
}

.details h1,
h3,
p {
	padding-bottom: 30px;
}

.read-more {
	font-size: 24px;
	font-weight: 500;
	font-family: Poppins;
	padding: 0px 40px;
	border-radius: 20px;
	color: #ffffff;
	background-color: #0126b3;
	border-style: none;
}

.read-more:hover {
	background-color: white;
	color: black;
	border: 1px solid #0126b3;
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-container {
	background: rgb(1, 38, 179);
	background: linear-gradient(
		90deg,
		rgba(1, 38, 179, 1) 0%,
		rgba(28, 26, 66, 1) 100%
	);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-menu {
	padding-left: 20px;
	margin-top: 30px;
}

.footer-menu ul li a {
	color: white;
	font-weight: 500;
}

.footer-menu ul p {
	color: white;
	font-weight: 500;
}

.footer-menu ul li a:hover {
	color: #5aa329;
}

.social-icons {
	display: flex;
	gap: 20px;
	padding-right: 20px;
}

/*animation for the social icons with class fa-brands copied from webcode.tools */

.fa-brands:hover {
	animation: rotate 0.7s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}


